<div class="about">


  <div class="about-background">
    <div class="about-title">
      <h1>Don't give it a damn and drink coffee!</h1>
    </div>
  </div>

  <div class="about-background2">
    <div class="about-me">
      <h1>About Us<p></h1>
      <h2 class="about-description">Call us crazy. We have become so obsessed with fine coffee that we wanted to be able to share more of it's secrets with you, at Coffee Maniac.</h2>

      <button class="button-join">Join the forum!</button>
    </div>
  </div>

<section class="social-parent">

    <div class="social-child text-center">
        <%= fa_icon 'facebook-square 3x' %>
        <h5> facebook.com/CoffeeManiac </h5>
    </div>
    <div class="social-child text-center">
        <%= fa_icon 'twitter-square 3x' %>
        <h5> twitter.com/CoffeeManiac </h5>
    </div>
    <div class="social-child text-center">
        <%= fa_icon 'instagram 3x' %>
        <h5> instagram.com/CoffeeManiac </h5>
    </div>
    <div class="social-child text-center">
        <%= fa_icon 'pinterest-square 3x' %>
        <h5> pinterest.com/CoffeeManiac </h5>
    </div>
    <div class="social-child text-center">
        <%= fa_icon 'snapchat-square 3x' %>
        <h5> snapchat.com/CoffeeManiac </h5>
    </div>

<section>





</div>
