<div class="comment-child text-center" data-id="<%=comment.id%>">
  <%= image_tag comment.image %>
  <h3><%= comment.body %></h3>

  <p><p>
  <div class="control-panel">
    <% if comment.user == current_user || current_user&.admin? || current_user&.moderator? %>
      <%= link_to "Edit", edit_topic_post_comment_path(comment.post.topic, comment.post, comment), remote: true, class: "btn btn-success"%>
    <% end %>

    <% if comment.user == current_user || current_user&.admin? || current_user&.moderator? %>
      <%= link_to "Delete", topic_post_comment_path(comment.post.topic, comment.post, comment), remote: true, class: "btn btn-danger", method: :delete, data: { confirm: "Delete?" } %>
    <% end %>
  </div>

  <div class="votes">
    Total Votes:
    <div class="total-votes" data-id="<%= comment.id %>">
       <%= comment.total_votes %>
    </div>
    <div>
        <%= link_to "Upvote", upvote_path(comment_id: comment.id), method: :post, class: "btn btn-success", remote: true %>
        <%= link_to "Cancel", cancelvote_path(comment_id: comment.id), method: :post, class: "btn btn-danger", remote: true %>
        <%= link_to "Downvote", downvote_path(comment_id: comment.id), method: :post, class: "btn btn-warning", remote: true %>
      </div>
  </div>
</div>
