<h1 class="post-title text-center">
  <%= @post.title %>
</h1>

<h1 class="comment-title text-center">Comments</h1>
<p>
<h1 class="text-center">
  <%= link_to "Back to Post", topic_posts_path(@topic), class: "btn btn-success btn-lg" %>
 <%= link_to "New Comment", new_topic_post_comment_path(@topic, @post), class: "btn btn-success btn-lg" %>
</h1>

<div class="comment-parent">
  <% @comments.each do |comment| %>
    <div class="comment-child text-center">
      <h5><%= comment.body %></h5>
      <p><p>
        <%= link_to "Edit", edit_topic_post_comment_path(@topic, @post, comment), class: "btn btn-success" %>
        <%= link_to "Delete", topic_post_comment_path(@topic, @post, comment), class: "btn btn-danger", method: :delete, data: { confirm: "Delete?" } %>
    </div>
  <% end %>
</div>
